{% extends "layout.html.twig" %}

{% block content %}
    <h1 class="page-header">login page</h1>




    {% if app.user %}
        You are already logged in. Log out first

    {% else %}
        {% if error %}
            <div class="alert alert-danger">
                <strong>Error</strong>  {{ error }}
            </div>
        {% endif %}
        <form action="{{ path('login_check') }}" method="post">
            {{ form_widget(form) }}
        </form>

    {% endif %}

{% endblock %}
