{% extends "layout.html.twig" %}

{% block content %}
    <h1>Your profile page </h1>
    <p>Your email - {{ user.username }}</p>
    {#<p>Your email - {{ user.login }}</p>#}
{{ user.photo }}
{% endblock %}
