{% extends "layout.html.twig" %}

{% block content %}
    <h1>Sign Up</h1>



    {% if app.user %}
        You are already logged in. Log out first
    {% else %}
        <form action="" method="post">
            {% form_theme form 'form_table_layout.html.twig' %}
            {{ form_widget(form) }}
        </form>

    {% endif %}

{% endblock %}
