{% extends "layout.html.twig" %}

{% block content %}
    Welcome to your new Silex Application!


    {% for post in posts %}

        <p>{{ post.title }}</p>
        <p>{{ post.author.username }}</p>
        <p>{{ post.date }}</p>
        <hr>
        <p>{{ post.content|raw }}</p>
        <hr>
    {% endfor %}

{% endblock %}
